# libraries

In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [3]:
df = pd.read_csv('feature scaling.csv')

x = df.iloc[:, 1:3]
x

   Age  Salary
0   44   72000
1   27   48000
2   30   54000
3   38   61000
4   40   70000
5   35   58000
6   31   52000
7   48   79000
8   50   83000
9   37   67000

# MIN MAX SCALER

In [5]:
from sklearn.preprocessing import MinMaxScaler

MMS = MinMaxScaler(feature_range =(0, 1))

x_after_min_max_scaler = MMS.fit_transform(x)

x_after_min_max_scaler

array([[0.73913043, 0.68571429],
       [0.        , 0.        ],
       [0.13043478, 0.17142857],
       [0.47826087, 0.37142857],
       [0.56521739, 0.62857143],
       [0.34782609, 0.28571429],
       [0.17391304, 0.11428571],
       [0.91304348, 0.88571429],
       [1.        , 1.        ],
       [0.43478261, 0.54285714]])

# Standardisation

In [7]:
from sklearn.preprocessing import StandardScaler

Standardisation = StandardScaler()

x_after_Standardisation = Standardisation.fit_transform(x)

x_after_Standardisation

array([[ 0.82572282,  0.6829409 ],
       [-1.51382518, -1.47371457],
       [-1.10096377, -0.9345507 ],
       [ 0.        , -0.30552619],
       [ 0.27524094,  0.50321961],
       [-0.41286141, -0.57510812],
       [-0.96334329, -1.11427199],
       [ 1.37620471,  1.31196541],
       [ 1.65144565,  1.67140798],
       [-0.13762047,  0.23363768]])