In [13]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [14]:
df=pd.read_csv('marital status.csv')
df

    age  status
0    21     0.0
1    33     1.0
2    24     0.0
3    28     1.0
4    17     0.0
5    33     1.0
6    23     0.0
7    30     0.0
8    29     1.0
9    22     0.0
10   26     1.0
11   20     0.0
12   22     0.0
13   24     NaN
14   34     1.0
15   29     1.0
16   16     0.0
17   18     0.0
18   26     1.0
19   25     1.0

# Null value checking

In [15]:
df.isnull().sum()

age       0
status    1
dtype: int64


# Null Value Fixing

In [24]:
#handle=df['status'].mean()
handle=df['status'].median()
handle

0.0

In [21]:
df.status=df.status.fillna(handle)
df

    age  status
0    21     0.0
1    33     1.0
2    24     0.0
3    28     1.0
4    17     0.0
5    33     1.0
6    23     0.0
7    30     0.0
8    29     1.0
9    22     0.0
10   26     1.0
11   20     0.0
12   22     0.0
13   24     0.0
14   34     1.0
15   29     1.0
16   16     0.0
17   18     0.0
18   26     1.0
19   25     1.0

# Count the value for specific columns

In [26]:
df['status'].value_counts()

0.0    11
1.0     9
Name: status, dtype: int64

In [27]:
x=df[['age']]
x

    age
0    21
1    33
2    24
3    28
4    17
5    33
6    23
7    30
8    29
9    22
10   26
11   20
12   22
13   24
14   34
15   29
16   16
17   18
18   26
19   25

In [28]:
y=df['status']
y

0     0.0
1     1.0
2     0.0
3     1.0
4     0.0
5     1.0
6     0.0
7     0.0
8     1.0
9     0.0
10    1.0
11    0.0
12    0.0
13    0.0
14    1.0
15    1.0
16    0.0
17    0.0
18    1.0
19    1.0
Name: status, dtype: float64

In [32]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=10)
x_train

    age
13   24
2    24
14   34
8    29
17   18
16   16
19   25
12   22
11   20
1    33
0    21
15   29
4    17
9    22

In [33]:
y_train

13    0.0
2     0.0
14    1.0
8     1.0
17    0.0
16    0.0
19    1.0
12    0.0
11    0.0
1     1.0
0     0.0
15    1.0
4     0.0
9     0.0
Name: status, dtype: float64

# Logistic Regration

In [35]:
from sklearn.linear_model import LogisticRegression

In [38]:
model=LogisticRegression()

In [39]:
model.fit(x_train,y_train)

LogisticRegression()

In [40]:
model.predict(x_test)

array([1., 1., 1., 0., 1., 1.])

# Checking model Score

In [41]:
model.score(x_test,y_test)

0.8333333333333334

# Sigmoit function probability

In [42]:
model.predict_proba(x_test)

array([[7.92133022e-03, 9.92078670e-01],
       [3.01841825e-01, 6.98158175e-01],
       [3.99850948e-04, 9.99600149e-01],
       [8.96156765e-01, 1.03843235e-01],
       [5.54936970e-02, 9.44506303e-01],
       [3.01841825e-01, 6.98158175e-01]])